.insideView{
    height: 100vh;
}

.navbar.is-transparent{
    background-color: #fff0 !important;
}

.carouselImc{
    padding-top: 10%;
}

.navbar-item{
    color: #ffffff !important;
}

.imgCarrousel{
    width: 25em; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.iconReturnMV{
    width: 4em;
    height: 4em;
}